.container {
  height: calc(100vh - 80px);
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding-inline: 10px;
  .landing_grid {
    display: grid;
    justify-items: center;
    .avatarBox {
      margin-bottom: 25px;
      .avatar_img {
        width: 250px;
        padding-top: 80px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: 100vh;
    .landing_grid {
      display: grid;
      justify-items: center;
      .avatarBox {
        .avatar_img {
          width: 250px;
          padding: 0;
        }
      }
    }
  }
}



